<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h3>{{graficos.grafico1.leyenda}}</h3>
        <app-grafico-dona 
        [lineChartData]="graficos.grafico1.data"
        [lineChartLabels]="graficos.grafico1.labels"
        [lineChartType]="graficos.grafico1.type"
        ></app-grafico-dona>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h3>{{graficos.grafico2.leyenda}}</h3>
        <app-grafico-dona 
        [lineChartData]="graficos.grafico2.data"
        [lineChartLabels]="graficos.grafico2.labels"
        [lineChartType]="graficos.grafico2.type"
        ></app-grafico-dona>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h3>{{graficos.grafico3.leyenda}}</h3>
        <app-grafico-dona 
        [lineChartData]="graficos.grafico3.data"
        [lineChartLabels]="graficos.grafico3.labels"
        [lineChartType]="graficos.grafico3.type"
        ></app-grafico-dona>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h3>{{graficos.grafico4.leyenda}}</h3>
        <app-grafico-dona 
        [lineChartData]="graficos.grafico4.data"
        [lineChartLabels]="graficos.grafico4.labels"
        [lineChartType]="graficos.grafico4.type"
        ></app-grafico-dona>
      </div>
    </div>
  </div>
</div>
